.card-style{
    margin:20px;
    padding:2%;
    z-index: 50;
    background-color: white;
    max-width: 10vw;
}

.text-style{
    display: flex;
    justify-content: center;
}

.issue-btn{
    margin-top:5px;
    margin-left:15% !important;
    margin-bottom: 5px;
}

.delete-btn{
    margin-top:5px;
    margin-left:30%;
    margin-bottom: 5px;
}

.text-style{
    font-size:12px;
    color: gray;
}