.home-container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input,select { display: table-cell; }
